.play__circle_pickers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.play__single_circle_picker {
    margin: 30px;
    background-color: #c6e2ff;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid white;
    box-sizing: border-box;
    width: 180px;
    height: 90px;
}

.play__back_button {
    background-color: white;
    border: none;
    padding: 15px 30px;
    font-size: 30px;
    color: #f00;
    cursor: pointer;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 20px;
}

.play__attempts {
    font-size: 25px;
    margin: 5px;
    color: white;
}

.play__close_o {
    font-size: 40px;
    position: relative;
    display: flex;
    align-items: center;
}

.play__close_or_correct_or_false_icon {
    font-size: 20px;
    left: 0px;
    margin-left: 5px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 3px;
}

.play__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 375px) 
{
    .play__single_circle_picker {
        margin: 5px;
    }
}