.word__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  color: white;
}

.word__letter_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  margin: 10px;
  position: relative;
}

.word_letter_container__value_or_input {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 100px;
  align-items: center;
  position: relative;
  transition: all 1s;
  left: 0px;
  right: 0px;
}

.word_letter_container__value_or_input_first {
  left: 480% !important;
  right: inherit;
}

.word_letter_container__value_or_input_last {
  right: 480%;
  left: inherit;
}

.word_letter_container__input {
  width: 100%;
  border: none;
  font-size: 30px;
  font-family: "NerkoOne" !important;
  text-align: center;
  border-radius: 20px;
  color: #f00;
  transition: all 0.6s;
}

.word_letter__value {
  transition: all 0.6s;
}

.word_letter__value_success {
  opacity: 0;
}

.word_letter_container__ghost {
  position: absolute;
  top: 70px;
  font-size: 30px;
  transition: all 0.6s;
}

.word_letter_containe__ghost_success {
  top: calc(30%);
}

@media screen and (max-width: 450px) {
  .word__letter_container {
    font-size: 30px;
    margin: 0px;
  }
}

@media screen and (max-width: 400px) {
  .word__letter_container {
    font-size: 30px;
    margin: -5px;
  }
}
